header{
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    background-image: url(../assets/img/perfil_c.jpg);  
    background-size:cover;
    background-position:top;
   
    .perfil{
        width: 100%;
        height: 100vh;
        padding-bottom: 5rem;
        background-color: rgba(0, 0, 0,0.3);
        .redes{
            width: fit-content;
            @include cont_flex(column,end,end);
            border: solid 1px aliceblue;
            margin: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            i{
                padding: 0.5rem;
                color: aliceblue;
                font-size: 3rem;
            }
        }  
        .nombre{
            width: 100%;
            padding:2rem;
            color: aliceblue;
            text-transform: uppercase;
            letter-spacing: 5px;
            h1{
                font-size: 3rem;
                font-family: $tipografia-titulos;
                font-style: italic;
                font-weight: bold;
            }
            p{
                font-family: $tipografia-general;
                font-size: 1.3rem;
            }
            span{
                font-size: 1.2rem;
                text-transform: capitalize;
                background-color: rgba(0, 0, 0,0.4);
                border-radius: 1rem;
            }
        }
        .contacto{
            width: 100%;
            padding: 0 1rem 3rem 1rem;
            a{
                width: 70%;
                text-decoration: none;
                color: aliceblue;
            }
            .bton_mail{
                margin-bottom: 1rem;
                border-radius: 2rem;
                font-size: 3rem;
                text-align: center;
                border: solid 1px black;
                padding: 0.7rem;
                background-color: rgba(0, 0, 0,0.4);
                box-shadow: 4px 4px 1px 1px #000;
                i{
                    margin-right: 1rem;
                    color: rgb(68, 131, 186);
                }
                span{
                    font-size: 2rem;
                    margin-right:1rem;
                    font-family: $tipografia-general;
                }
            }
            .bton_wassap{
                border-radius: 2rem;
                font-size: 3rem;
                padding: 0.7rem;
                text-align: center;
                border: solid 1px black;
                padding: 0.7rem;
                box-shadow: 4px 4px 1px 1px #000;
                background-color: rgba(0, 0, 0,0.4);
                i{
                    margin-right: 1rem;  
                }
                span{
                    font-size: 2rem;
                    margin-right:1rem;
                    font-family: $tipografia-general;
                }
            }
           }
      
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0px 0px 25px 0px #000;
        position: fixed;
        bottom:0px;
        z-index: 1;
        a{
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.3rem;
            color: black;
        }
        .bton_sobre_mi{
            padding-right: 1rem;
            border-right: solid 1px black;
        }
        .bton_porfolio{
            padding-right: 1rem;
            border-right: solid 1px black;
        }
      
            .bton_top{
                padding-right: 1rem;
            }
    }
}
// resposive
    @include sm(){
        header{
            .nombre{
                p{
                    font-size: 1rem;
                }
            }
            .menu{
                .botonera{
                    .bton_sobre_mi{
                        width: 60vw;
                }
                .bton_porfolio{
                    width: 60vw;
                }
            }
        }
    }
}
    @include lg(){
    header{
        width: 100%;
        background-image: url(../assets/img/perfil_desk.jpg);
        background-size: cover;
        background-position: center center;
        .perfil{
            background-color: rgba(0, 0, 0,0.5);
            .redes{
                margin-right: 5rem;
                a{
                    &:hover{
                        text-shadow: 1px 1px 5px #ECB365;
                    }
                }
            }
            .nombre{
                padding-left: 5rem;
                
            }
            .contacto{
                a{
                    width: 30%;
                    &:hover{
                        text-shadow: 1px 1px 5px #ECB365;
                    }
                }
            }
        }
        nav{
            width: 50%;
            border-radius: 5rem;
            justify-content: space-around;
            .bton_top{
                padding-right: 0rem;
                &:hover{
                    border-radius: 1rem;
                    background-color: rgba(142, 7, 74, 0.824);
                    transition: $transition;
                }
            }        
        }   
    }
}
   